<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Material UI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="/static/material/node_modules/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
    <link href="/static/material/node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
</head>

<body>
    <button class="mdc-button foo-button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Button</span>
    </button>

    <hr>

    <div class="mdc-data-table">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
          <thead>
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Dessert</th>
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Carbs (g)</th>
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Protein (g)</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Comments</th>
            </tr>
          </thead>
          <tbody class="mdc-data-table__content">
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">Frozen yogurt</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.0</td>
              <td class="mdc-data-table__cell">Super tasty</td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">Ice cream sandwich</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">37</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">4.33333333333</td>
              <td class="mdc-data-table__cell">I like ice cream more</td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">Eclair</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">24</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">6.0</td>
              <td class="mdc-data-table__cell">New filing flavor</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>

      <div class="mdc-data-table">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
          <thead>
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--checkbox" role="columnheader" scope="col">
                <div class="mdc-checkbox mdc-data-table__header-row-checkbox mdc-checkbox--selected">
                  <input type="checkbox" class="mdc-checkbox__native-control" aria-label="Checkbox for header row selection"/>
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
              </th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Status</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Signal name</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Severity</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Stage</th>
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Time</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Roles</th>
            </tr>
          </thead>
          <tbody class="mdc-data-table__content">
            <tr data-row-id="u0" class="mdc-data-table__row">
              <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                <div class="mdc-checkbox mdc-data-table__row-checkbox">
                  <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="u0"/>
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">Online</td>
              <td class="mdc-data-table__cell" id="u0">Arcus watch slowdown</td>
              <td class="mdc-data-table__cell">Medium</td>
              <td class="mdc-data-table__cell">Triaged</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">0:33</td>
              <td class="mdc-data-table__cell">Allison Brie</td>
            </tr>
            <tr data-row-id="u1" class="mdc-data-table__row mdc-data-table__row--selected" aria-selected="true">
              <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                <div class="mdc-checkbox mdc-data-table__row-checkbox mdc-checkbox--selected">
                  <input type="checkbox" class="mdc-checkbox__native-control" checked aria-labelledby="u1"/>
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">Offline</td>
              <td class="mdc-data-table__cell" id="u1">monarch: prod shared ares-managed-features-provider-heavy</td>
              <td class="mdc-data-table__cell">Huge</td>
              <td class="mdc-data-table__cell">Triaged</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">0:33</td>
              <td class="mdc-data-table__cell">Brie Larson</td>
            </tr>
            <tr data-row-id="u2" class="mdc-data-table__row mdc-data-table__row--selected" aria-selected="true">
              <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                <div class="mdc-checkbox mdc-data-table__row-checkbox mdc-checkbox--selected">
                  <input type="checkbox" class="mdc-checkbox__native-control" checked aria-labelledby="u2"/>
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">Online</td>
              <td class="mdc-data-table__cell" id="u2">monarch: prod shared ares-managed-features-provider-heavy</td>
              <td class="mdc-data-table__cell">Minor</td>
              <td class="mdc-data-table__cell">Not triaged</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">0:33</td>
              <td class="mdc-data-table__cell">Jeremy Lake</td>
            </tr>
            <tr data-row-id="u3" class="mdc-data-table__row">
              <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                <div class="mdc-checkbox mdc-data-table__row-checkbox">
                  <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="u3"/>
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
              </td>
              <td class="mdc-data-table__cell">Online</td>
              <td class="mdc-data-table__cell" id="u3">Arcus watch slowdown</td>
              <td class="mdc-data-table__cell">Negligible</td>
              <td class="mdc-data-table__cell">Triaged</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">0:33</td>
              <td class="mdc-data-table__cell">Angelina Cheng</td>
            </tr>
          </tbody>
        </table>
      </div>

    <script src="/static/material/node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <script>
        mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'))
    </script>
</body>
</html>
